* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Garamond", Garamond, serif;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: 1px solid #1abc9c;
    height: 50px;
    position: relative;
}

.header__title_toSave {
    position: absolute;
    top: calc(50px / 4);
    right: 10px;
}

.header__title_saved {
    position: absolute;
    top: calc(50px / 4);
    left: 10px;
}

.progress__bar {
    height: 100%;
}

.main {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.todo {
    width: 200px;
}

.todo__btn {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.button {
    width: 100%;
}

ul {
    list-style-type: none;
}


.todo__list_item {
    cursor: pointer;
    position: relative;
    padding-bottom: 20px;
    padding-left: 30px;
    font-size: 18px;
    transition: 0.2s;
}

.checked {
    background: #81bcb1;
}

.calendar {
    display: flex;
    flex-direction: column;
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 50px;
    color: #262626;
}

.days {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 5px;
}

.day {
    border: solid 1px #1abc9c;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    padding: 5px;
    position: relative;
}

.day {
    font-weight: 700;
    color: #455af7;
}

.weekdays {
    font-weight: 700;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    text-align: center;
    margin-bottom: 15px;
}