* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Garamond", Garamond, serif;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #1abc9c;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.progress__bar {
    height: 50px;
}

.main {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.todo {
    width: 280px;
}

.todo__btn {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.button {
    width: 100%;
}

ul {
    list-style-type: none;
}

/* ToDo list */

.todo__list_item {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Darker background-color on hover */
.todo__list_item:hover {
    background: #ddd;
}

/* Add a "checked" mark when clicked on */
.todo__list_item.checked::before {
    content: '';
    position: absolute;
    border-color: #000;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Calendar */

.calendar__grid {
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.day {
    width: 14%
}

.btn {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #262626;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.2s ease;
    cursor: pointer;
    outline: 0;
}

.btn:hover {
    color: #FFF;
}

.btn-small {
    min-width: 50px;
}

.earned {
    width: 50%;
    height: 50px;
    padding-top: 25px;
    color: #1abc9c;
}

.btn-day {
    font-size: 1em;
    display: flex;
    border: none;
    background: #fff;
    width: 50%;
    height: 100%;
    cursor: pointer;
    z-index: 99;
    outline: 0;
    transition: 0.4s all;
}

.btn-day.active {
    color: #455AF7;
    font-weight: 600;
    z-index: 99;
}

.btn-day.active::before {
    position: absolute;
    content: '';
    border-radius: 10px;
    z-index: -1;
}

.calendar {
    /* height: 740px; */
    width: 470px;
    background: #ffffff;
    padding: 10px;
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 50px;
    width: 100%;
    color: #262626;
}

.icon {
    padding: 10px;
    margin: 0 0 0 5px;
    background: #ffffff;
    color: #455af7;
    border: none;
    cursor: pointer;
}

.weekends th {
    color: gray;
    font-weight: 400;
    width: 50px;
    margin: 10px 0;
}

#calendar tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

#calendar td {
    display: flex;
    height: 50px;
    width: 50px;
    z-index: 99;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
}

.calendar__table {
    width: 530px;
}